<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
    <div style="text-align: center;">
        <!--FIXME: 画像をアップロードして、URLを取得する必要ありそう-->
        <img alt="ロゴ" style="margin-bottom: 16px" width="130px" src="app/assets/images/SIMULA_LOGO.jpg" />
        <div>
            <!--TODO: token含んだURLを発行-->
            <a style="display: inline-block;
              font-size: 12px;
              padding: 8px 16px 8px 16px;
              text-decoration: none;
              color: #fff;
              background-color: #22825d;
              font-weight: bold;
              border-radius: 8px;"
               href="https://simula-labs.com?token={{.}}"
            >
                ログインする
            </a>
        </div>
    </div>
    </body>
</html>